/* You can add global styles to this file, and also import other style files */
app-posts-detail {
    padding: 1rem;
    border: 1px solid green;
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.gray{
    color: gray;
}